.todo{
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;
    padding-bottom: 20px;
}

.todo-form{
    padding:50px;
}

.todo-form form{
    margin: 20px;
}

.task{
    padding: 10px;
    width: 25%;
    margin: 10px;
    cursor: pointer;
}

.button{
    padding: 10px 30px;
    color:black;
    background-color: plum;
    outline: none;
    border-color: none;
    border:2px solid blue;
    cursor: pointer;
}
.todo-list > h3 {
    margin-top: 20px;
    color: red;

}
.todo-list >ul{
    list-style: none;
    margin-top: 20px;
}
.update{
    color:#143acd;
    margin:0 10px;
}
.delete{
    color:#cd1414;
    margin:0 10px;
}
.todo-removeall > button{
    padding: 10px 30px;
    color: #fff;
    background-color: #cd1414;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}